* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

body {
  font-family: 'Montserrat', sans-serif;
}
/*----- HEADER -----*/
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header_seccion {
  background-color: #1C1C1C;
  color: #FFFFFF;
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header_logo_titulo {
  color: #FFD700;
}

.header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  width: 20%;
}

.header_navegador {
  width: 500px;
  padding-top: 5px;
  min-height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  flex-wrap: wrap;
}

.header_navegador_a {
  background-color: #ffffff00;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.pagina {
  background-color: #FFFFFF;
  color: #1C1C1C;
  font-weight: bold;
}

.header_navegador_a:hover {
  background-color: #FFD700;
  color: #1C1C1C;
}

.header_usuario {
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.header_usuario_total {
  color: #00FFFF;
}

.header_usuario_carrito {
  background-color: #FFD700;
  color: #1C1C1C;
  padding: 2px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.header_usuario_login {
  background-color: #FFD700;
  color: #1C1C1C;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.header_usuario_login::before {
    content: "\f007";         /* Unicode del ícono de usuario */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;          /* 900 para solid */
    margin-right: 0.5rem;
}

.header_usuario_carrito:hover {
  background-color: #FFC300;
  color: #1C1C1C;
}

.header_usuario_login:hover {
  background-color: #FFC107;
  color: #1C1C1C;
}

.header_principal {
  background-color: #00000080; 
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video_caja {
  background-color: #00000080; 
  width: 100%;
  height: 85vh;
  position: absolute;
  object-fit: cover;
  z-index: -10;
}

.header_principal_img {
  background-color: #00000080; 
  width: 600px;
  min-height: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #FFFF00CC;
}

.header_principal_img h2 {
  letter-spacing: 5px;
  font-size: 48px;
  font-weight: bold;
  color: #FFFF00;
}

.header_principal_img p {
  padding: 0 10px;
  text-align: justify;
  text-wrap: pretty;
  color: #FFFFFF;
}

.header_principal_img a {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #00FFFF80;
}

.header_principal_img a:hover {
  background-color: #FFC107; 
  color:  #1C1C1C;
  border-radius: 10px;
}

/*----- MAIN -----*/

.contenido {
  background-color: #0a0a0a;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.contenido_productos {
  background: linear-gradient(145deg, #1a1a1a, #292929);
  width: 80%;
  min-height: 700px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 214, 0, 0.4);
}

.productos_titulo {
  color: #ffd600;
  font-size: 48px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: 0 0 6px #ffffff, 0 0 5px #ffd600;
}

.productos_destacados {
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.producto_articulo {
  background: linear-gradient(135deg, #212121, #2c2c2c);
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.3);
}

.producto_articulo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 23, 68, 0.7);
}

.producto_articulo_detalles {
  background-color: #00000040;
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.producto_articulo_nombre {
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 0 5px #ffd600;
}

.producto_articulo_precio_unidad {
    color: #ffffff;
    text-shadow: 0 0 5px #00FFFF80;
}

.productos_destacados .producto_articulo:first-child {
  background-image: url("../emb/img/Products/Casco_Integral_RS7_P.png");
  background-size: cover;
}

.productos_destacados .producto_articulo:nth-child(2) {
  background-image: url("../emb/img/Products/Chaqueta_Touring_Imp.png");
  background-size: cover;
}

.productos_destacados .producto_articulo:nth-child(3) {
  background-image: url("../emb/img/Products/Maletero_Top_Case_45.png");
  background-size: cover;
}

.productos_destacados .producto_articulo:nth-child(4) {
  background-image: url("../emb/img/Products/Luces_LED_Antiniebla_Dual.png");
  background-size: cover;
}

.productos_destacados .producto_articulo:nth-child(5) {
  background-image: url("../emb/img/Products/Intercomunicador_Mot.png");
  background-size: cover;
}

.productos_destacados .producto_articulo:nth-child(6) {
  background-image: url("../emb/img/Products/Kit_de_Herramientas.png");
  background-size: cover;
}

.productos_destacados .producto_articulo:nth-child(7) {
  background-image: url("../emb/img/Products/Maniguetas_Ajustable.png");
  background-size: cover;
}

.productos_destacados .producto_articulo:last-child {
  background-image: url("../emb/img/Products/Candado_con_Alarma_S.png");
  background-size: cover;
}

.producto_articulo_detalles h4 {
  align-self: start;
}

.producto_articulo_detalles p {
  align-self: end;
}

.te-ofrecemos {
  background: linear-gradient(145deg, #1a1a1a, #292929);
  width: 80%;
  min-height: 300px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 214, 0, 0.4);
}

.te-ofrecemos_titulo {
  color: #ffd600;
  font-size: 36px;
  letter-spacing: 2px;
  text-shadow: 0 0 6px #ffffff, 0 0 2px #ffd600;
}

.te-ofrecemos_servicios {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.imagen-servicio {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.servicio_texto {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 1rem;
  position: relative;
}

.servicio_texto::before {
  content: '';
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  font-size: 50px;
  color: #ffd600;
  margin-bottom: 20px;
}

.imagen-servicio:first-child .servicio_texto::before {
  content: "\f3ed"; /* fa-shield-halved */
}

.imagen-servicio:nth-child(2) .servicio_texto::before {
  content: "\f48b"; /* fa-truck-fast */
}

.imagen-servicio:nth-child(3) .servicio_texto::before {
  content: "\f023"; /* fa-lock */
}

.imagen-servicio:nth-child(4) .servicio_texto::before {
  content: "\f590"; /* fa-headset */
}

.imagen-servicio:nth-child(5) .servicio_texto::before {
  content: "\f005"; /* fa-star */
}

.imagen-servicio:last-child .servicio_texto::before {
  content: "\f21c"; /* fa-motorcycle */
}

.opinion {
  background: linear-gradient(145deg, #1a1a1a, #292929);
  width: 80%;
  min-height: 400px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 214, 0, 0.4);
}

.opinion_titulo {
  color: #ffd600;
  font-size: 36px;
  letter-spacing: 2px;
  text-shadow: 0 0 6px #ffffff, 0 0 2px #ffd600;
}

.opinion_cliente {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.opinion_cliente_comentario {
  background: linear-gradient(135deg, #212121, #2c2c2c);
  max-width: 250px;
  min-height: 200px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 15px rgba(0, 229, 255, 0.3);
}

.opinion_cliente_parrafo {
  padding: 10px;
}

.opinion_cliente_comentario:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 214, 0, 0.7);
}

.marca {
  background: linear-gradient(145deg, #1a1a1a, #292929);
  width: 80%;
  min-height: 200px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 214, 0, 0.4);
}

.marca_asociadas {
  background: linear-gradient(145deg, #2e2e2e, #444444);
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(255, 245, 140, 0.3);
}

.marca_titulo {
  text-align: center;
  color: #ffd600;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 0 0 6px #ffffff, 0 0 5px #ffd600;
}

.marca_asociadas_img {
  width: 120px;
  filter: drop-shadow(0 0 2px #ffffff);
  transition: filter 0.3s ease;
}

.marca_asociadas_img:hover {
  filter: drop-shadow(0 0 5px #ffffff) brightness(1.3);
  transform: scale(1.05);
}

/*----- FOOTER -----*/
.footer {
  background-color: #1A1A1A;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.seccion-formulario {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding: 2rem 1rem;
  min-height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.formulario {
  width: 500px;
  padding: 0px 10px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.formulario_img {
  width: 80px;
}

.formulario_info h3 {
  color: #FFD700; 
}

.registro {
  min-width: 300px;
}

.registro_correo{
  padding: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

input[type="email"] {
  width: 220px;
  height: 35px;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: 1px solid #FFD700;
  padding: 0.5rem;
}

input[type="submit"] {
  width: 100px;
  height: 35px;
  background-color: #FFD700;
  color: #1A1A1A;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.footer-principal {
  background-color: #1A1A1A;
  color: #FFFFFF;
  min-height: 350px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.principal_datos {
  min-height: 250px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.principal_datos img {
  width: 250px;
}

.principal_datos_contacto {
  min-height: 120px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.principal_datos_contacto_titulo {
  color: #FFD700;
}

.principal_datos_contacto ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.principal_datos_contacto ul > li > a {
  color: #FFFFFF;
}

.principal_datos_contacto ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  gap: 20px;
  font-weight: bold;
}

.contacto_telefono::before {
  content: "\f095"; /* icono de teléfono */
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

.contacto_correo::before {
  content: "\f0e0"; /* icono de sobre (email) */
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

.contacto_direccion::before {
  content: "\f3c5"; /* icono de ubicación */
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

.principal_enlaces {
  min-height: 250px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.principal_enlaces h3 {
  color: #FFD700;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.principal_enlaces ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style-type: square;
}

.principal_enlaces ul > li > a{
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.principal_enlaces ul > li > a:hover {
  color: #FFD700;
}

.principal_accesorios {
  min-height: 250px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.principal_accesorios h3 {
  color: #FFD700;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.principal_accesorios ul {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.principal_accesorios ul > li {
  color: #CCCCCC;
}

.principal_seccion-pagos {
  min-height: 250px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.principal_seccion-pagos_titulo {
  color: #FFD700;
}

.principal_seccion-pagos-descripcion {
  display: flex;
  gap: 15px;
}

.principal_seccion-pagos-descripcion img {
  padding: 5px;
  border-radius: 20%;
}

.footer-final {
  background-color: #000000;
  color: #CCCCCC;
  min-height: 70px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-final_texto {
  margin-bottom: 0.5rem;
}

.redes {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .redes a img {
  width: 32px;
  margin: 0 0.5rem;
  filter: brightness(0) invert(1); /* Íconos blancos si son PNG oscuros */
  transition: transform 0.3s;
}

.footer .redes a img:hover {
  transform: scale(1.2);
  filter: brightness(1.2) sepia(1) hue-rotate(30deg);
}


/* MEDIA QUERIES - TABLET*/
@media screen and (max-width: 1024px) {
  .contenido_productos, .opinion, .opinion_cliente {
    gap: 20px;
  }
  .principal_enlaces, .principal_accesorios {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header_navegador {
    align-items: start;
  }
  .contenido_productos {
    gap: 20px;
  }
  .productos_titulo {
    font-size: 36px;
  }
  .opinion_titulo {
    text-align: center;
  }
  .opinion_cliente {
    min-height: 500px;
  }
  .opinion_cliente_comentario {
    width: 220px;
  }
  .principal_enlaces {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .header_logo {
    justify-content: center;
  }
  .header_logo_titulo {
    text-align: center;
  }
  .header_navegador {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .productos_titulo {
    font-size: 24px;
    text-align: center;
  }
  .producto_articulo {
    width: 200px;
    background-size: contain;
    background-position: center;
  }
  .opinion {
    gap: 20px;
  }
  .te-ofrecemos_titulo {
    font-size: 24px;
  }
  .opinion_cliente {
    gap: 25px;
  }
  .opinion_titulo {
    text-align: center;
    font-size: 24px;
  }
  .footer-principal {
    flex-direction: column;
  }
  .principal_datos_contacto {
    align-items: center;
    gap: 20px;
  }
  .principal_datos_contacto_titulo {
    align-self: start;
  }
}