* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*----- HEADER -----*/
.header {
    background-color: #1C1C1C;
    color: #FFFFFF;
    min-height: 15vh;
    display: flex;
    Justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header_logo_titulo {
    color: #FFD700;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    width: 20%;
}

.header_navegador {
    width: 500px;
    padding-top: 5px;
    min-height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-wrap: wrap;
}

.header_navegador_a {
    background-color: #ffffff00;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.header_navegador_a:hover {
    background-color: #FFD700;
    color: #1C1C1C;
}

.header_usuario_login {
    background-color: #FFD700;
    color: #1C1C1C;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.header_usuario_login::before {
    content: "\f007";
    /* Unicode del ícono de usuario */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    /* 900 para solid */
    margin-right: 0.5rem;
}

.header_usuario_login:hover {
    background-color: #FFC107;
    color: #1C1C1C;
}

/*----- MAIN -----*/

.contenido_principal {
    /*background-color: #00000080;*/
    background: linear-gradient(rgba(0, 8, 64, 0.2), rgba(0, 36, 128, 0.2));
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

.video_caja {
    background-color: #00000080;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -10;
}

/* Estilo indexAdmin.html */

.section_componentes {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.consulta {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 15px 30px; 
    font-size: 18px; 
    border-radius: 12px; 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
}

.consulta:hover { 
    background-color: rgba(255, 215, 0, 0.5);
    color: #000000; 
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.consulta:active { 
    background-color: #FFFFFF;
    transform: scale(1); 
    text-decoration: underline;
}

.mostrar {
    background-color: rgba(255, 215, 0, 1); 
    color: #000000; 
}

.hidden {
    display: none;
}

.table_data {
    background-color: rgba(240, 240, 240, 0.8);
    color: #000033;
    margin-bottom: 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    border-radius: 20px;
}

.tituloFormulario {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.table-responsive {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table {
    max-width: 80%;
    text-align: center;
    font-size: 16px;
    background-color: #FFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8); 
    border-radius: 5px;
}

.table thead {
    background-color: rgba(255, 215, 0, 1); 
    color: #000000;     
}

.table thead th {
    padding: 8px 12px;
    font-weight: bold;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #eae3d7;
}

.table tbody td {
    padding: 8px 12px;
    color: #444;
}

/*----- FOOTER -----*/

.footer {
    background-color: #000000;
    color: #CCCCCC;
    min-height: 15vh;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-final_texto {
    margin-bottom: 0.5rem;
}

.redes {
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .redes a img {
    width: 32px;
    margin: 0 0.5rem;
    filter: brightness(0) invert(1);
    /* Íconos blancos si son PNG oscuros */
    transition: transform 0.3s;
}

.footer .redes a img:hover {
    transform: scale(1.2);
    filter: brightness(1.2) sepia(1) hue-rotate(30deg);
}


/* MEDIA QUERIES - TABLET*/

@media screen and (max-width: 768px) {
    .header_navegador {
        align-items: start;
    }
}

@media screen and (max-width: 480px) {
    .header_logo {
        justify-content: center;
    }

    .header_logo_titulo {
        text-align: center;
    }

    .header_navegador {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}